body {
  margin: 0;
}

.container {
  background-color: hsl(276, 100%, 99%);
  border-bottom-right-radius: 60% 2%;
  border-bottom-left-radius: 60% 2%;
  display: flex;
  flex-direction: column;
}

.first-container {
  background-color: hsl(273, 85%, 13%);
  color: hsl(0, 0%, 100%);
  border-bottom-right-radius: 60% 2%;
  border-bottom-left-radius: 60% 2%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* start of NAV container */
.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

.workit-light img {
  width: 100%;
  position: relative;
  right: 2rem;
}

.nav-apply {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-underline-offset: 0.5rem;
  transition: color 0.5s;
}

.nav-apply:hover,
.nav-apply:active {
  cursor: pointer;
  color: hsl(150, 100%, 63%);
}

/* end of NAV container */
.underline {
  text-decoration: underline solid hsl(150, 100%, 63%) 5%;
}

/* MIDDLE container */
.pattern1,
.pattern2,
.pattern3 {
  display: none;
}

.hero {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 8rem;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
  text-underline-offset: 0.5rem;
  margin: 0;
}

button {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: hsl(150, 100%, 63%);
  color: hsl(273, 85%, 13%);
  line-height: 180%;
  padding: 0.75rem 2rem;
  margin: 2rem;
  border: none;
}

.phone {
  position: relative;
}

.telephone {
  width: 400%;
  position: absolute;
  top: -5rem;
  right: -8rem;
}

.founder {
  width: 100%;
}

/*SECOND CONTAINER */
.second-container {
  padding: 8rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(273, 85%, 13%);
}

.info-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(273, 85%, 13%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-family: "Fraunces", serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
}

h3 {
  font-family: "Fraunces", serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 120%;
}

.info-part p {
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 0.95rem;
  line-height: 180%;
}

/* end of the second section 8?

/*start of the third section*/
.third-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.founder-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.founder-photo {
  width: 100%;
  text-align: center;
}

.founder-photo img {
  width: 100%;
}

.founder-description {
  background-color: hsl(273, 85%, 13%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  bottom: 5rem;
  text-align: center;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-family: "Fraunces", serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  padding: 0;
}

.founder-info p {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  line-height: 180%;
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.media-img {
  margin: 1rem;
}

@media (min-width: 376px) and (max-width: 768px) {
  .first-container {
    border-bottom-right-radius: 80% 20%;
    border-bottom-left-radius: 80% 20%;
  }
  h1 {
    font-size: 4rem;
    line-height: 5rem;
    text-underline-offset: 0.5rem;
    padding: 0;
  }
  .pattern1,
  .pattern2,
  .pattern3 {
    display: block;
  }
  .pattern1 img {
    width: 40%;
    position: absolute;
    left: -10rem;
    top: 5rem;
  }
  .pattern2 img {
    width: 20%;
    position: absolute;
    right: 0rem;
    bottom: 10rem;
  }
  .hero {
    width: 70%;
    padding-bottom: 5rem;
  }
  .telephone {
    width: 500%;
    position: absolute;
    top: -6rem;
    left: -9rem;
  }
  .info-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .number {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .info-article {
    margin-left: 3rem;
    text-align: left;
  }
  .info-article p {
    text-align: left;
  }
  .founder-info {
    position: relative;
    padding-bottom: 30rem;
    padding-top: 10rem;
    width: 100%;
  }
  .founder-photo img {
    width: 50%;
    position: absolute;
    width: 30%;
    left: 1rem;
    top: 3rem;
  }
  .founder-description {
    padding: 1rem;
    width: 60%;
    height: 50%;
    position: absolute;
    left: 10rem;
    bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0rem 2rem 2rem 2rem;
  }
  .founder-description p {
    text-align: left;
  }
  .founder-description button {
    margin: 0;
  }
  .pattern3 img {
    width: 40%;
    position: absolute;
    left: 18rem;
    bottom: -5rem;
  }
}
@media (min-width: 769px) {
  .first-container {
    border-bottom-right-radius: 80% 20%;
    border-bottom-left-radius: 80% 20%;
  }
  .nav {
    width: 80%;
  }
  .header {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 4rem;
    line-height: 5rem;
    text-underline-offset: 0.5rem;
  }
  .pattern1,
  .pattern2,
  .pattern3 {
    display: block;
  }
  .pattern1 img {
    width: 15%;
    position: absolute;
    left: -3rem;
    top: 5rem;
  }
  .pattern2 img {
    width: 10%;
    position: absolute;
    right: -2rem;
    bottom: 12rem;
  }
  .hero {
    width: 70%;
    padding-bottom: 5rem;
  }
  .telephone {
    width: 500%;
    position: absolute;
    top: -6rem;
    left: -9rem;
  }
  .second-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .info-part {
    text-align: center;
  }
  .number {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
  .info-article {
    text-align: center;
    width: 72%;
  }
  .info-article p {
    text-align: center;
  }
  .founder-info {
    position: relative;
    padding-bottom: 30rem;
    padding-top: 10rem;
    width: 100%;
  }
  .founder-photo img {
    width: 50%;
    position: absolute;
    width: 30%;
    left: 1rem;
    top: 3rem;
  }
  .founder-description {
    padding: 1rem;
    width: 50%;
    height: 50%;
    position: absolute;
    right: 15rem;
    bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0rem 2rem 2rem 2rem;
  }
  .founder-description p {
    text-align: left;
  }
  .founder-description button {
    margin: 0;
  }
  .pattern3 img {
    width: 30%;
    position: absolute;
    right: 8rem;
    bottom: -3rem;
  }
}

/*# sourceMappingURL=style.css.map */
